extends layout

block content
  .panel.panel-primary
    .panel-heading 
      h4 Browse Wines
    .panel-body
      table.table.table-striped.table-bordered#wines
        thead
          th Producer
          th Grapes
          th Variety
          th Price
          th Location
          th Year
          th Purchased
          th In-Stock
        tbody
          each wine in wines
            tr
              td 
                a(href="/wine/#{wine.id}") #{wine.producer}
              td #{wine.grapes}
              td #{wine.variety}
              td $#{wine.price}
              td #{wine.location}
              td #{wine.vintage}
              td #{helpers.dateUtils.cleanDate(wine.purchasedDate)}
              td
                if wine.instock == 'true'
                  span.glyphicon.glyphicon-ok
  script
    $(document).ready(function(){
      jQuery.extend( jQuery.fn.dataTableExt.oSort, {
        "currency-asc": function ( a, b ) {

            var x = a == "-" ? 0 : a.replace( /,/g, "" );
            var y = b == "-" ? 0 : b.replace( /,/g, "" );
             
            /* Remove the currency sign */
            x = x.substring( 1 );
            y = y.substring( 1 );

            if(x == '') x = '0';
            if(y == '') y = '0';
            /* Parse and return */
            x = parseFloat( x );
            y = parseFloat( y );
            return y - x;
        },
     
        "currency-desc": function ( a, b ) {
            var x = a == "-" ? 0 : a.replace( /,/g, "" );
            var y = b == "-" ? 0 : b.replace( /,/g, "" );
             
            /* Remove the currency sign */
            x = x.substring( 1 );
            y = y.substring( 1 );
            
            if(x == '') x = '0';
            if(y == '') y = '0';
            /* Parse and return */
            x = parseFloat( x );
            y = parseFloat( y );
            return x - y;
        }
      });
      $('#wines').dataTable({
        "aoColumns": [
            null,
            null,
            null,
            { "sType": "currency" },
            null,
            null,
            null,
            null
        ]
      });
    });
    